[submodule "libs/rayson"]
	path = libs/rayson
	url = https://github.com/zdunczyk/rayson.git
[submodule "libs/0xJQ"]
	path = libs/0xJQ
	url = https://github.com/zdunczyk/0xJQ.git
[submodule "libs/autosize"]
	path = libs/autosize
	url = https://github.com/jackmoore/autosize.git
[submodule "libs/nano"]
	path = libs/nano
	url = https://github.com/trix/nano
