[submodule "libs/rayson"]
	path = libs/rayson
	url = https://github.com/zdunczyk/rayson.git
[submodule "libs/0xJQ"]
	path = libs/0xJQ
	url = https://github.com/zdunczyk/0xJQ.git
[submodule "libs/autosize"]
	path = libs/autosize
	url = https://github.com/jackmoore/autosize.git
[submodule "libs/nano"]
	path = libs/nano
	url = https://github.com/trix/nano
[submodule "libs/js-base64"]
	path = libs/js-base64
	url = https://github.com/dankogai/js-base64
[submodule "examples/jnottery-com"]
	path = examples/jnottery-com
	url = https://github.com/zdunczyk/jnottery-com.git
