<div class="tt-tooltip">
    <div class="tt-header">
        <div class="tt-info">
            <span class="tt-title">{title}</span>
            <a href="http://jnottery.com/" target="_blank">read more</a>
        </div>
        <div class="tt-close">{btn.close}</div>
    </div>
    <div class="tt-main">
        <div class="tt-btns">
            <div class="tt-btn tt-facebook">
                <div class="tt-hint">
                    <div>{btn.facebook.label}</div>
                </div>
                <div class="tt-notready">
                    <div>{btn.disabled}</div>
                </div>
            </div>
            <div class="tt-btn tt-twitter">
                <div class="tt-hint">
                    <div>{btn.twitter.label}</div>
                </div>
                <div class="tt-notready">
                    <div>{btn.disabled}</div>
                </div>
            </div>
            <div class="tt-btn tt-link">
                <div class="tt-hint">
                    <div>{btn.link.label}</div>
                </div>
                <div class="tt-notready">
                    <div>{btn.disabled}</div>
                </div>
            </div>
            <div class="tt-btn tt-save">
                <div class="tt-hint">
                    <div>{btn.save.label}</div>
                </div>
                <div class="tt-notready">
                    <div>{btn.disabled}</div>
                </div>
            </div>
        </div>
        <div class="tt-form">
            <div class="tt-content">
                <textarea class="tt-input" placeholder="{txt.placeholder}" autocomplete="off" rows="3"></textarea>
                <input class="tt-submit tt-add" type="submit" value="{btn.submit.label}"/>
                <input class="tt-submit tt-edit" type="submit" value="{btn.edit.label}"/>
                <input class="tt-submit tt-del" type="submit" value="{btn.del.label}"/>
            </div>
        </div>
    </div>
    <div class="tt-arrow"></div>
</div>
